
    <ul>
        <li *ngFor="let appreil of appreils; let i=index">
          {{ appreil.name }} {{ appreil.status == 1 ? "allumer" : "eteint" }}
          <button (click)="OnSwitch(i)">
            {{ appreil.status == 1 ? "etiendre" : "allumer" }}
          </button>
        </li>
      </ul>
      
      <button class="btn btn-success" 
              (click)="onAllumer()">tout allumer</button>
      <button class="btn btn-danger"
              (click)="onEteindre()">tout etiendre</button>

              <button style="color:white;background-color: red;" (click)='onLogout()'>X</button>