
<input type="text" placeholder="enter your username" name='username' #username/><br>
<input type="password" placeholder="enter your password" name='password' #pass/><br>
<button (click)='onLogin(username,pass)'> connexion</button>
<p style='text-align:center;color:red' *ngIf="err">
    {{errMsg}}
</p>