<ul>
    <app-appareil 
        *ngFor="let appareil of appareils;let i=index" 
        [name]="appareil.name" 
        [status]="appareil.status"
        [index]="i"
        (onClickEvent)="onSwitchAppreil()"
        >
    </app-appareil>
    
</ul>